.pattern {
  background-color: #e14949;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #d78282 36px
    ),
    repeating-linear-gradient(#730f2855, #730f28);
}

.glass {
  background: rgba( 255, 255, 255, 0.6 );
  box-shadow: 0 8px 32px 0 rgba(62, 65, 99, 0.37);
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
